root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,sol}]
indent_style = space
indent_size = 4

[*.{json,yml,yaml,toml,md,html,js,css}]
indent_style = space
indent_size = 2

[*.sol]
max_line_length = 120
